# Gradle
.gradle/
build/

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDEs
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Project specific
world_save/
